.tab-pane
{
	height: 50%;
}


#image1{
	


}

#under{
	
	position: relative;
	padding-top: 50px;
    

}

#under input[class="btn btn-danger quit"],input[class="btn btn-success submit"]
{
	float: right;
	margin-right:6px;
	display:block;
}



#under input[class="btn btn-primary record"],input[type="reset"]
{
	float: left;
	margin-left:30px;
	display:block;
}


